
PointsOfSale/_ReSharper.PointsOfSale
PointsOfSale/Sales.Tests/bin/Debug
PointsOfSale/Sales.Tests/obj/Debug
PointsOfSale/SimpleScanner/obj
PointsOfSale/SimpleScanner/bin/Debug
PointsOfSale/PointsOfSale.5.1.ReSharper.user
PointsOfSale/PointsOfSale.suo
PointsOfSale/PointsOfSale.5.1.ReSharper.user
PointsOfSale/PointsOfSale.suo
PointsOfSale/SimpleScanner/obj/